<template>
  <div>
<div>
  <b-carousel v-if="!mostraFormulario"
    id="carousel-no-animation"
    style="text-shadow: 0px 0px 2px #000"
    no-animation
    indicators
    img-width="104"
    img-height="100"
  >
   <div :key="imagen.id" v-for="imagen of imagenes"  id="carrusel-img ">
    <b-carousel-slide
      :caption="imagen.author"
      :img-src="imagen.download_url"
    >
      <b-button class="mr-3" variant="danger" v-b-modal.modal-1 @click="editarFotoM(imagen)">Editar</b-button>
    </b-carousel-slide>
    </div>
  </b-carousel>

  <div>
 <b-modal  ref="my-modal" hide-footer  id="modal-1" title="Editar Imagen">
    <form-imagen :imagenId="idEnviar" @nombreHijo="nombrePadre = $event"></form-imagen>
  </b-modal>
</div>
</div>
{{nombrePadre}}
  </div>
</template>

<script>
import ImagenesService from '@/services/ImagenesService';
import FormImagen from './FormImagen.vue';
export default {
  components: { FormImagen },
  
  name: 'Carrusel',
    data:()=>({ 
      imagenes : [],
    idEnviar:0,
    mostraFormulario:false,
    nombrePadre:''
    }),
       created(){
        this.ImagenesService = new ImagenesService()
        },
        mounted(){
           this.obtenerImagenes()
        },
        methods:{
        obtenerImagenes:function(){
        this.ImagenesService.obtenerImagenes()
            .then(data =>{
            this.imagenes = data.data;
            })
        },
        editarFotoM:function(imagen) {
              this.idEnviar = imagen.id;
        }
  }
}
</script>

<style>
.carousel-item {
      display: block;
      width: 100%;
      height: 500px;
}
.carousel-item img {
      height: 100%;
      width: 100%;
}
</style>