<template>
  <div>
    <div>
  <img style="display: block; margin: auto;" :src="url+'/'+imagenId+'/'+ancho+'/'+largo+'?'+selecionado"/>
    </div>
<b-form inline>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 align-self-center text-center">
      <label for="ancho">Ancho</label>
     <b-form-spinbutton id="ancho" @change="ancho = $event" v-model="ancho" min="1" max="500"></b-form-spinbutton>
    </div>
      <div class="col-4 align-self-center text-center">
            <label for="largo">Largo</label>
  <b-form-spinbutton id="largo"   @change="largo = $event" v-model="largo" min="1" max="500"></b-form-spinbutton>
      </div>
      <div class="col align-self-center text-center">
           <div>Efectos:</div>
         <b-form-select v-model="selecionado" :options="listaEfectos"></b-form-select>
      </div>
  </div>
</div>
  </b-form>
  </div>
</template>

<script>
export default {
  name: 'FormImagen',
  data:()=>({ 
      url:"https://picsum.photos/id/",
      ancho:300,
      largo:300,
      listaEfectos:[
        { value: null, text: 'Seleccione un Efecto' },
          { value: 'grayscale', text: 'Grayscale' },
          { value: 'blur', text: 'Blur' }
      ],
      selecionado:"",
      nombreKenedy: "Kenedy"
  }),
        mounted(){
           this.$emit('nombreHijo',this.nombreKenedy);    
        },

  props: [
  'imagenId'
  ]
}
</script>

<style scoped>
</style>