<template>
  <div class="home">
<carrusel></carrusel>
  </div>
</template>

<script>
import Carrusel from '@/components/Imagenes/Carrusel.vue'

export default {
  name: 'Home',
  components: {
    Carrusel
  }
}
</script>
