<template>
  <div>
<p> Hola soy a</p>
  <componente-b></componente-b>
{{titulo}}


<router-link to="/componente-b" tag="button">router-link</router-link>
 <b-button @click="obtenerNombre()" variant="dark">Click</b-button>
  </div>
</template>
<script>
import ComponenteB from './ComponenteB.vue'

export default {
  components: { ComponenteB },
  name: 'ComponenteA',
  data:()=>({
    nombre:'hola',
    titulo:'Es un titulo'
  }),
  methods:{
        obtenerNombre:function(){
          alert(this.nombre);
        }
  }
}
</script>

<style>

</style>